* {
  background-color: rgb(rgb(44, 3, 3));
}

.hero {
  background-image: url("img/download.png");
  background-repeat: none;
  background-size: cover;

}

.hero-body {
  background-color: rgb(44, 3, 3);
}

.nav-brand {
  font-size: 34px;
  font-weight: bold;
}

.hero-body > div > h1 {
  color: rgb(87, 83, 27);
}

.hero-body > div > h2 {
  color: rgb(220, 220, 220);
}

.footer {
  color: white;
  background-color: rgb(11, 192, 41);
  
}

